<html>
<head>
  <title>happta</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
  <body>

  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else { %>
    <script src="http://app:3000/client/main.js"></script>
  <% } %>
  </body>
</html>
