// Spinner
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #1A489C;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.logotype {
  font-size: 30px;
  font-weight: 900;
  font-family: roboto;
  color: white;
  padding: 40px;
}

// Title

.platform-title {
  font-size: 26px;
  margin-bottom: 2.5rem;
}

// Entry

.Entry {
  margin-bottom: 10px;
  box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0,0,0,.1) !important;
}

.Entry-body {
  padding: 30px 30px 12px 30px !important;
}

.Entry h2 {
  font-size: 23px;
  color: #193652;
}

.Entry .date {
  color: #8fa1b3;
  font-size: 16px;
}

// ContentView

.ContentView.card {
  box-shadow: none !important;
  background-color: none;
  padding: 0px
}

.ContentView .card-body {
  padding: 0px !important;
}

.ContentView .card-body .header h2 {
  font-size: 40px;
  color: #373b4a;
  font-weight: 900;
}

.ContentView .card-body .header {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.ContentView .card-body .header p {
  color: #8fa1b3;
  font-size: 18px;
}

.ContentView .card-body .actual-content p,  {
  font-size: 16px !important;
}

.ContentView .card-body .actual-content h1,
.editor-preview-side h1,
.ContentView .card-body .actual-content h2,
.editor-preview-side h2,
.ContentView .card-body .actual-content h3,
.editor-preview-side h3 {
  margin: 20px 0px;
  font-weight: 900;
}

.ContentView .card-body .actual-content h1,
.editor-preview-side h1 {
  font-size: 28px;
}

.ContentView .card-body .actual-content h2,
.editor-preview-side h2 {
  font-size: 22px;
}

.ContentView .card-body .actual-content pre,
.editor-preview-side pre {
  background-color: #F2F2F2;
}

// Blog
.OwnerArea {
  margin: 25px 0px;
}

.OwnerArea button {
  cursor: pointer;
}

// CodeMirror
.CodeMirror-fullscreen, .editor-toolbar.fullscreen {
  z-index: 9999 !important;
}

.editor-preview-side, .editor-preview-active-side {
  z-index: 9999 !important;
}

// Utilities

.cursor {
  cursor: pointer;
}

.right-count {
  right: 10px;
}

.like-no-link {
  text-decoration: none;
  color: black;
}
.like-no-link:hover {
  text-decoration: none;
  color: black;
}

.pull-header {
  text-align: right;
  padding-right: 35px;
  font-size: 35px;
  padding-top: 12px;
  height: 10px;
}